<!DOCTYPE html>
<html>
<head>
<title>Punerator</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
  <header>
    <h1>The Newest and Hottest Pun-Generator on the Entire Web!</h1>
    <h2>Select your favorite category to get started!</h2>
  </header>
  <div>
    <form action="/category" method="POST">
      <input type="radio" name="category" value="sports" checked>Male<br>
      <input type="radio" name="category" value="animal">Female
      <input type="radio" name="category" value="technology">
      <input type="radio" name="category" value="people">
      <input type="radio" name="category" value="random">
      <input type="submit" value="Generate Pun">
    </form>
<!--     
  </ol>
   </div>
  </body>
  

</html>
