<!DOCTYPE html>
<html>
<head>
<title>Punerator</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
  <header>
    <h1>The Newest and Hottest Pun-Generator on the Entire Web!</h1>
    <h2>Select your favorite category to get started!</h2>
    <img id="center_image" src="http://efangelist.files.wordpress.com/2014/02/math-puns.jpg">
  </header>
 
  
  
  
  <div>
    <form id="buttons" action="/category" method="POST">
      <input type="radio" name="category" value="sports">Sports<br>
      <input type="radio" name="category" value="animal">Animal<br>
      <input type="radio" name="category" value="technology">Technology<br>
      <input type="radio" name="category" value="people">People<br>
      <input type="radio" name="category" value="random">Random<br>
      <input type="submit" value="Generate Pun"><br>
    </form>  
    <% if @message %>
    <%= @message %>
    <% end %>
   </div>
  </body>
  

</html>
