<h1><%=@result%></h1>

<!DOCTYPE html>
<html>
<head>
<title>Punerator</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  
  <img id="center_image" src="http://lunaextrema.files.wordpress.com/2011/11/gnfn.png">
  
  <a id="more" href="/">More Puns! </a>
</head>
  
  <form id="text_box"action="/text" method="post">
    <input type="text" name="number">
    <input type='hidden' name="message" value="<%=@result%>">
    <input type='submit' value="Text Your Pun">
  </form>
  
  
<!-- <embed src="sound.mp3"
       autostart="true"
       hidden="false"
       loop="false">
</embed> -->