<h1><%=@result%></h1>

<!DOCTYPE html>
<html>
<head>
<title>Punerator</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  
  <img id="center_image" src="http://lunaextrema.files.wordpress.com/2011/11/gnfn.png">
  
  <a id="more" href="http://bourjasc-pc-15-precollege-se1-chi-062215-1-108300.nitrousapp.com:3000">More Puns! </a>
</head>
  
  
<embed src="sound.mp3"
       autostart="true"
       hidden="false"
       loop="false">
</embed>