h1 {
    text-shadow: 1.25px 1.25px #0F0F0A;
}

body {
    background-image: url(/images/background.png);
   background-repeat: repeat;
  
  
}

h1 {
    text-shadow: 1.25px 1.25px #0F0F0A;
  text-align: center;
  font: Comic Sans Ms;
}

h2 {
  text-align: center;
  font-family: "Comic Sans Ms"

}
div {
  background: turqoise;
}
h2 {
    -moz-text-decoration-style: wavy;
    text-decoration: underline;
}


body {
  background-image: url(/images/restaurant.png);
    background-repeat: repeat;
}
